<!DOCTYPE html>
<html lang="fr">
<head>
 	<meta charset="UTF-8">
 	<title>Mon Application</title>
</head>
<body>
 Liste des membres

 <table class="tableau">
 <% adresses.forEach(elm => {%>
 <tr>
 <td><%= elm.id %></td>
 <td><%= elm.prenom %></td>
 <td><%= elm.nom %></td>
 <td><%= elm.telephone %></td>
 <td><%= elm.courriel %></td>
 </tr>
 <% }) %>
 </table>
</body>
</html>